$max-width: 1140px;
$font-family: 'Roboto', sans-serif;
$finger-size: 40px;
$border-radius: 4px;
$gutter: 20px;
$font-size: 16px;
$font-size-small: .9em;


$color-navy: #083B87;
$color-blue: #01ACEE;
$color-soft-blue: #ccc;
$color-yellow: #FBBE00;


